

/* ------------ GENERAL ------------  */

html {
  background-image: URL(./img/gray.jpg);
  background-color: #B8B8B8;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Geneva, Helvetica;
}

h1 {
  color: orange;
  font-size: 40px;
  margin: 0px;
}

h2{
  margin-top: 6px;
  color: #A0A0A0;
}

h3 {
  color: #F0F0F0;
  font-size: 20px;
}

h4 {
  position: relative;
  top: -13px;
  font-size: 12px;
  color: #A0A0A0;
}

a {
  text-decoration: none;
  color: #F0F0F0;
}

a:hover {
  background-color: #FFCC00;
}


#work a{
  color: lightgray;
  font-size: 60px;
  margin: 0px;
}


li {
  list-style: none;
  position: relative;
  left: -25px;
}

/* ------------ HEADER ------------ */

header {
  background-color: none;
}

#name_link {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

#Hi {
  font-size: 55px;
  color: #D6D6D6;
  position: relative;
  right: -10px;
}

#header_name {
  color: white;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 40px;
  margin-right: 20px;
}

#header_position {
  text-align: right;
  color: #909090;
  margin: 8px 33px 30px 0px
}

/* ------------ NAVIGATION ------------  */

#nav_bar {
  background-image: url("./img/gray_dark.jpg");
  background-color: gray;
  font-family: Raleway, Helvetica;
  width: 100%;
  padding: 3px;
  padding-right: 13px;
  padding-bottom: 4px;
  position: relative;
  left: -8px;
  max-height: 16px;
  font-size: 15px;
}

.nav_items {
  margin-left: 30px;
  margin-right: 5px;
  display: inline;
}

.nav_items a {
    padding: 3px 10px 4px 10px;
    margin-left: 20px;
}

.nav_light {
  color: gray;
}

/* ------------ CONTENT CONTAINER ------------  */

#container {
  width: 100%;
  height: 450px;
  position: relative;
}

#left {
  background-image: url("./img/felt_bg.jpg");
  background-color: white;
  width: 103%;
  height: 430px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: -10px;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

#right {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 53%;
  height: 450px;
}

#blurb {
  text-align: left;
  overflow: hidden;
  color: #A8A8A8;
  font-size: 60px;
  margin-top: 20px;
  margin-left: 44px;
}

#blurb p {
  max-width: 530px;
  padding-top: 65px;
}

#blurb span {
  font-size: 60px;
  color: #C8C8C8;
}

#profile_pic {
  position: relative;
  top: -16px;
  right: -100px;
  width: 536px;
}

section {
  width: 90%
}

/* ------------ UNDER MAIN CONTAINER ------------  */

#under_main {
  position: relative;
  width: 100%;
}

#under_main_left {
  position: relative;
  height: 200px;
  left: 20px;
  width: 70%;
/*  overflow-y: scroll;*/
  float: left;
  /*background-color: yellow;*/
}

#blog_posts, #blog_left, #blog_center, #blog_right, #blog_newest{
  width: 162px;
  height: 130px;
  float: left;
  position: relative;
  margin-top: 30px;
}

#blog_posts {
  width: 110px;
  height: 100%;
  position: relative;
  left: 20px;
  top: 10px;
}

#blog_links a {
  color: white;
  font-size: 13px;
  padding: 2px 10px 3px 5px;
  /*background-color: green;*/
}

.each {
  margin-top: 20px;
  position: relative;
  top: -20px;
  /*background-color: red;*/
}

.blog_span {
  display: block;
  color: gray;
  font-size: 10px;
  margin: 0px 0px 0px -15px;
  width: 80px;
  /*background-color: blue;*/
}

#under_main_right {
  position: relative;
  min-width: 120px;
  min-height: 200px;
  overflow: hidden;
  float: right;
  text-align: right;
  font-size: 14px;
  /*background-color: red;*/
}

#under_main_right a{
  padding: 1px 5px 2px 5px;
}

.social_links li {
 padding-top: 8px;
}

/* ------------ FOOTER ------------  */

footer {
  background-image: URL(./img/gray.jpg);
  background-color: #B8B8B8;
  width: 100%;
  height: 20px;
  padding-top: 5px;
  font-size: 10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px
}

#email_link {
  color: white;
  font-size: 10px;
}

/* ------------ BLOG CONTENT ------------  */

#blog_content {
  position: relative;
  left: 0px;
  color: #808080;
  font-size: 13px;
  width: 100%
}

#blog_content p {
  max-width: 500px;
  margin: 0px;
  padding: 0px 0px 15px 0px;
}

#blog_content a {
  max-width: 500px;
  color: orange;
}

#box_model {
  width: 400px;
  margin: 0px 0px 20px 40px;
}

th {
  color: orange;
  font-size: 14px;
  padding:  10px 10px 6px 10px;
  margin: 0px;
  min-width: 100px;
}

table#t01 {
  position: relative;
  left: 5%;
  border-collapse: collapse;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }

td {
  color: gray;
  text-align: left;
  padding:  5px 15px 5px 10px;
}

table#t02 {
  position: relative;
  left: 0px;
  width: 480px;
  border-collapse: collapse;
}

table#t02 tr:nth-child(even) {
    background-color: #eee;
  }
table#t02 tr:nth-child(odd) {
    background-color: #fff;
  }

#java {
  color: gray;
  margin: 0px 0px 0px 20px;
  font-size: 15px;
}

iframe {
  width: 102%;
  height: 380px;
  left: 0px;
  top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}



/* END */