
html {
  background-color: #;
  font-family: Helvetica, Tahoma;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("./img/gray.jpg");
  background-color: #B8B8B8;
}

#name_link {
  color: white;
}

#Hi {
  font-family: Geneva, Helvetica;
  font-size: 55px;
  color: #D0D0D0;
}

#header_name {
  font-family: Geneva, Helvetica;
  color: white;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

h1 {
  color: gray;
  font-size: 30px;
  margin-bottom: 0px;
}

h2{
  margin-top: 6px;
  color: #C8C8C8;
}

h3 {
  color: #F0F0F0;
  width: 30%;
  position: relative;
  top: -330px;
  left : 20px;
  font-family: Geneva, Helvetica;
  font-size: 20px;
}

h4 {
  font-size: 12px;
  font-family: Geneva, Helvetica;
  text-align: right;
  color: #909090;
  margin: -5px 23px 18px 0px
}

.nav_bar {
  background-image: url("./img/gray_dark.jpg");
  background-color: gray;
  display: flex;
  width: 100%;
  padding: 3px;
  padding-right: 20px;
  position: relative;
  left: -10px;
}

#blog {
  margin-left: 50px;
}

#support {
  margin-left: 50px;
}

#projects {
  margin-left: 50px;
}

#blurb {
  text-align: left;
  font-size: 30px;
  width: 100%;
  height: 450px;
  background-color: white;
  position: relative;
  top: 0px;
  left: -10px;
  display: inline-block;
  padding-left: 50px;
  overflow: hidden;
}

#b_text {
  color: #E0E0E0;
  font-size: 60px;
  margin-top: 20px;
  width: 50%
}

span {
  font-size: 60px;
  color: #F0F0F0;
}

img {
  height: 450px;
  width: 450px;
  position: absolute;
  top: 0px;
  right: 30px;
  margin-right: 0px

}

.blog_posts {
  position: relative;
  left: 120px;
  top: -370px;
  list-style-type: none;
  width: 20%
}

a {
  text-decoration: none;
  color: #F0F0F0;
}

a:hover {
  background-color: #FFCC00;
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.social_links {
  width: 20%;
  position: relative;
  left: 74%;
  top: 0px;
  text-align: right;
  list-style-type: none;
  display: inline-block;
}

#add_height {
  height: 200px;
  width: 1%;
  position: relative;
  left: 0px;
  top: 0px;
}

.social_links li {
 padding-top: 8px;
}

.blog_span {
  display: block;
  color: gray;
  font-size: 10px;
  margin-bottom: 8px;
  margin-right: 20px;
  margin-left: 0px;
}

footer {
  width: 100%;
  height: 20px;
  font-size: 10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px
}

#email_link {
  color: white;
  font-size: 10px;
}

#blog_content {
  color: #E0E0E0;
  font-size: 12px;
  margin-top: 20px;
  width: 50%
}

section {
  font-size: 13px;
  color: #B0B0B0;
}
